.header {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.07);
}

.section2 {
  background-color: #faf8fd;
  font-size: 40px;
}

.section3 {
  background-color: #1e1e1e;
}

.section4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-image: url('../images/Frame-971.png');
  background-position: 50% 90%;
  background-size: cover;
}

.footer {
  background-color: #f1f1f1;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item {
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.list-item-2 {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
}

.list-item-3 {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}

.text-block-2 {
  margin-top: 14px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #4e5968;
  font-size: 20px;
  line-height: 36px;
}

.text-span {
  color: #9558f6;
}

.button {
  padding-top: 27px;
  background-color: #9558f6;
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.button-2 {
  margin-top: 54px;
  padding: 20px 30px;
  border-radius: 100px;
  background-color: #9558f6;
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 20px;
}

.image {
  margin-top: 84px;
  margin-bottom: 65px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  margin-top: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 30px;
  line-height: 56px;
}

.text-block-4 {
  margin-top: 2px;
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.image-2 {
  margin-top: 41px;
}

.image-3 {
  margin-top: 56px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-top: 100px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.text-block-6 {
  margin-top: 14px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.div-block-6 {
  margin-top: 80px;
  margin-bottom: 107px;
}

.image-4 {
  margin-left: 80px;
}

.image-5 {
  margin-left: 80px;
}

.text-block-7 {
  font-weight: 700;
}

.text-block-8 {
  margin-top: 64px;
  margin-bottom: 27px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.div-block-7 {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-8 {
  margin-top: 18px;
}

.image-6 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.image-7 {
  margin-left: 30px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item-4 {
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.list-item-5 {
  margin-left: 30px;
  font-family: 'Spoqa han sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.text-block-9 {
  margin-top: 43px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #afafaf;
  line-height: 24px;
}

.div-block-11 {
  margin-top: 30px;
  border-style: solid;
  border-width: 0.3px;
  border-color: #d4c6eb;
}

.text-block-10 {
  margin-top: 20px;
  margin-bottom: 55px;
  font-family: 'Spoqa han sans', sans-serif;
  color: #afafaf;
  line-height: 24px;
}

.link {
  font-family: 'Spoqa han sans', sans-serif;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.link-2 {
  font-family: 'Spoqa han sans', sans-serif;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.image-11 {
  display: none;
}

@media screen and (max-width: 479px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section4 {
    background-position: 15% 0%;
    background-size: cover;
  }

  .div-block {
    max-width: 320px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 50%;
    max-width: 50%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .list-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .list-item-2 {
    margin-left: 0px;
  }

  .list-item-3 {
    margin-left: 14px;
  }

  .div-block-2 {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block {
    margin-top: 60px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
  }

  .text-block-2 {
    margin-top: 8px;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
  }

  .text-span {
    font-size: 24px;
  }

  .button-2 {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 10px 16px;
    font-size: 16px;
  }

  .image {
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .div-block-3 {
    max-width: 320px;
  }

  .text-block-3 {
    margin-top: 6px;
    font-size: 16px;
    line-height: 28px;
  }

  .text-block-4 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 38px;
  }

  .image-2 {
    margin-top: 30px;
  }

  .image-3 {
    max-width: 50%;
    margin-top: 30px;
  }

  .div-block-5 {
    max-width: 320px;
  }

  .text-block-5 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 38px;
  }

  .text-block-6 {
    margin-top: 8px;
    font-size: 13px;
    line-height: 26px;
  }

  .div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-4 {
    display: none;
    max-width: 50%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .image-5 {
    display: none;
    max-width: 70%;
    margin-left: 0px;
  }

  .text-block-8 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 38px;
  }

  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-6 {
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .image-7 {
    max-height: 36px;
    max-width: 36%;
    margin-left: 8px;
  }

  .div-block-9 {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-10 {
    max-width: 320px;
  }

  .text-block-9 {
    margin-top: 16px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .div-block-11 {
    margin-top: 10px;
  }

  .text-block-10 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .link {
    font-size: 14px;
  }

  .link-2 {
    font-size: 14px;
  }

  .image-8 {
    max-height: 50px;
    max-width: 50%;
    text-align: center;
  }

  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-13 {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .div-block-14 {
    margin-top: 40px;
  }

  .image-9 {
    display: none;
    max-width: 50%;
  }

  .image-10 {
    max-height: 36px;
    max-width: 36%;
  }

  .image-11 {
    display: block;
    max-width: 78%;
    margin-top: 0px;
  }

  .image-12 {
    max-height: 70px;
    max-width: 70%;
  }
}

@font-face {
  font-family: 'Spoqa han sans';
  src: url('../fonts/Spoqa-Han-Sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoqa han sans';
  src: url('../fonts/Spoqa-Han-Sans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}